.WatchLater .lander {
  padding: 80px 20px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 8px;
}

.WatchLater .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.WatchLater .lander p {
  color: #999;
  margin-bottom: 3rem;
}

.WatchLater .results {
  margin-top: 2rem;
  margin: 0 auto;
  display: block
}

.WatchLater .cardItem {
  width: 18rem;
}
